// Variables
// ---------
$form-group-margin-y:          $cushion-y-xl !default;
$form-group-margin-x:          $form-group-margin-y !default;

// Label
$form-label-font-weight:       bold !default;

$form-label-margin-y:          $cushion-y-xs !default;
$form-label-margin-x:          $cushion-x-xs !default;

// Control
$form-control-bg:              #fff !default;
$form-control-border:          $border-darkest !default;
$form-control-border-radius:   $border-radius-base !default;
$form-control-text:            $text-base !default;

// Control Size
$form-control-height-lg:       38px !default;
$form-control-height-md:       34px !default;
$form-control-height-sm:       30px !default;

$form-control-height-base:     $form-control-height-md !default;

$form-control-padding-y:       $cushion-y-xs  !default;
$form-control-padding-x:       $cushion-x-md !default;

// Control Typography
$form-control-font-size:       1em !default;
$form-control-font-weight:     normal !default;
$form-control-line-height:     $line-height-base !default;

// Focus
$form-control-focus-border:    $state-info !default;

// Disabled
$form-control-disabled-cursor: not-allowed !default;
$form-control-disabled-bg:     $bg-light !default;
$form-control-disabled-border: $border-darker !default;
$form-control-disabled-text:   $text-dark !default;

// Addons
$form-control-addon-bg:        $bg-light;

// Checkboxes and Radios
$form-checkbox-margin-y:       5px !default;
$form-checkbox-adjust-y:       3px !default;
$form-checkbox-width:          20px !default;

// Base Styles
// -----------
input[type="search"] {
  box-sizing: border-box;
  -webkit-appearance: none;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}


// Form groups
// -----------
.form-group {
  margin-bottom: $form-group-margin-y;
}


// Label
// -----
.form-label {
  display: block;
  font-weight: $form-label-font-weight;
  margin-bottom: $form-label-margin-y;
  max-width: 100%;
}


// Form controls
// -------------
.form-control {
  background: $form-control-bg;
  border: 1px solid $form-control-border;
  border-radius: $form-control-border-radius;
  color: $form-control-text;
  display: block;
  font-size: $form-control-font-size;
  font-weight: $form-control-font-weight;
  height: $form-control-height-base;
  line-height: $form-control-line-height;
  padding: $form-control-padding-y $form-control-padding-x;
  width: 100%;

  &:focus {
    @extend %form-control-focus;
  }

  &.disabled,
  &[disabled],
  &[readonly] {
    background-color: $form-control-disabled-bg;
    border-color: $form-control-disabled-border;
    color: $form-control-disabled-text;
    cursor: $form-control-disabled-cursor;
  }
}

// Focus
%form-control-focus {
  border-color: $form-control-focus-border;
  box-shadow: 0 0 6px transparentize($form-control-focus-border, .6);
  outline: 0 none;
}

// Apply margin if using label child syntax
.form-label > .form-control,
.form-label > .form-control-placeholder {
  margin-top: $form-label-margin-y;
}

// Placeholder
.form-control-placeholder {
  color: $form-control-text;
  display: block;
  font-size: $form-control-font-size;
  font-weight: $form-control-font-weight;
  height: $form-control-height-base;
  line-height: $form-control-height-base;
  padding: $form-control-padding-y 0;
}

// Textarea
textarea.form-control {
  height: auto;
}


// Checkboxes and Radios
// ---------------------
%radbox-label { // parent
  display: block;
  padding-left: $form-checkbox-width;
  position: relative;
  margin: $form-checkbox-margin-y 0;
}

%radbox { // input
  line-height: normal;
  margin-top: $form-checkbox-adjust-y;
  margin-left: -$form-checkbox-width;
  position: absolute;
}

.form-checkbox,
.form-radio {
  @extend %radbox-label;
}

.form-checkbox-inline,
.form-radio-inline {
  @extend %radbox-label;
  display: inline-block;
  margin-right: $form-label-margin-x;
}

.form-checkbox > input[type="checkbox"],
.form-checkbox-inline > input[type="checkbox"] {
  @extend %radbox;
}

.form-radio > input[type="radio"],
.form-radio-inline > input[type="radio"] {
  @extend %radbox;
}


// Help text
// ---------
.form-help {
  color: $text-muted;
  margin: $form-label-margin-y 0;
}


// Addons
// ------
.form-control-group {
  border-collapse: seprate;
  display: table;
  position: relative;

  .form-control,
  .form-control-addon {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .form-control-addon {
    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }
}

.form-control-addon {
  background-color: $form-control-addon-bg;
  border: 1px solid $form-control-border;
  border-radius: $form-control-border-radius;
  color: $form-control-text;
  display: table-cell;
  font-size: $form-control-font-size;
  line-height: 1;
  padding: $form-control-padding-y $form-control-padding-x;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}


// Inline forms
// ------------
%form-inline-styles {
  .form-group {
    display: inline-block;
    margin-bottom: 0;
    margin-right: $form-label-margin-x;
  }

  .form-label {
    display: inline-block;
    margin-bottom: 0;
  }

  .form-control {
    margin-left: $form-label-margin-x;
  }

  .visible-sr + .form-control,
  .form-control-group > .form-control {
    margin-left: 0;
  }

  .form-control,
  .form-control-placeholder {
    display: inline-block;
    margin-top: 0;
    width: auto;
  }

  .form-help {
    display: inline-block;
    margin-left: $form-label-margin-x;
  }

  %radbox-label {
    display: inline-block;
    margin: 0 0 0 $form-label-margin-x;
  }
}

@media screen and (min-width: $screen-md-min) {
  .form-inline { @extend %form-inline-styles; }
}
