// Cushion
// -------
@mixin cushion($name, $property, $modifier: "", $x: 0, $y: 0) {
  @if $modifier != "" {
    $modifier: "-" + $modifier;
  }
  @if $y == 0 {
    $y: $x;
  }
  .#{$name}#{$modifier}        { #{$property}: $y $x; }
  .#{$name}-y#{$modifier}      { #{$property}-top: $y; #{$property}-bottom: $y; }
  .#{$name}-x#{$modifier}      { #{$property}-left: $x; #{$property}-right: $x; }
  .#{$name}-top#{$modifier}    { #{$property}-top: $y; }
  .#{$name}-right#{$modifier}  { #{$property}-right: $x; }
  .#{$name}-bottom#{$modifier} { #{$property}-bottom: $y; }
  .#{$name}-left#{$modifier}   { #{$property}-left: $x; }
}


// Borders
// -------
@mixin border($color, $modifier: "", $style: solid, $width: 1px) {
  @if $modifier != "" {
    $modifier: "-" + $modifier;
  }
  .border#{$modifier}        { border: $width $style $color; }
  .border-y#{$modifier}      { border-top: $width $style $color; border-bottom: $width $style $color; }
  .border-x#{$modifier}      { border-left: $width $style $color; border-right: $width $style $color; }
  .border-top#{$modifier}    { border-top: $width $style $color; }
  .border-right#{$modifier}  { border-right: $width $style $color; }
  .border-bottom#{$modifier} { border-bottom: $width $style $color; }
  .border-left#{$modifier}   { border-left: $width $style $color; }
}


// Visibility
// ----------
@mixin visible($name, $screen-min, $screen-max) {
  .visible-#{$name}-block,
  .visible-#{$name}-inline,
  .visible-#{$name}-inline-block {
    display: none !important;
  }

  @if $screen-min > 0 {
    .visible-#{$name}-min-block,
    .visible-#{$name}-min-inline,
    .visible-#{$name}-min-inline-block,
    .visible-#{$name}-max-block,
    .visible-#{$name}-max-inline,
    .visible-#{$name}-max-inline-block {
      @extend .visible-#{$name}-block,
    }

    @media screen and (min-width: $screen-min) and (max-width: $screen-max) {
      .visible-#{$name}-block        { display: block !important; }
      .visible-#{$name}-inline       { display: inline !important; }
      .visible-#{$name}-inline-block { display: inline-block !important; }
    }

    @media screen and (min-width: $screen-min) {
      .visible-#{$name}-min-block        { display: block !important; }
      .visible-#{$name}-min-inline       { display: inline !important; }
      .visible-#{$name}-min-inline-block { display: inline-block !important; }
    }

    @media screen and (max-width: $screen-max) {
      .visible-#{$name}-max-block        { display: block !important; }
      .visible-#{$name}-max-inline       { display: inline !important; }
      .visible-#{$name}-max-inline-block { display: inline-block !important; }
    }
  }
  @else {
    @media screen and (max-width: $screen-max) {
      .visible-#{$name}-block        { display: block !important; }
      .visible-#{$name}-inline       { display: inline !important; }
      .visible-#{$name}-inline-block { display: inline-block !important; }
    }
  }
}

@mixin hidden($name, $screen-min, $screen-max) {
  @if $screen-min > 0 {
    @media screen and (min-width: $screen-min) and (max-width: $screen-max) {
      .hidden-#{$name} {
        display: none !important;
      }
    }
    @media screen and (min-width: $screen-min) {
      .hidden-#{$name}-min {
        display: none !important;
      }
    }
    @media screen and (max-width: $screen-max) {
      .hidden-#{$name}-max {
        display: none !important;
      }
    }
  }
  @else {
    @media screen and (max-width: $screen-max) {
      .hidden-#{$name} {
        display: none !important;
      }
    }
  }
}


// Floats
// -----
@mixin float($name, $screen-min, $screen-max) {
  @each $direction in left, right, none {
    @if $screen-min > 0 {
      @media screen and (min-width: $screen-min) and (max-width: $screen-max) {
        .float-#{$name}-#{$direction} {
          float: $direction !important;
        }
      }
      @media screen and (min-width: $screen-min) {
        .float-#{$name}-min-#{$direction} {
          float: $direction !important;
        }
      }
      @media screen and (max-width: $screen-max) {
        .float-#{$name}-max-#{$direction} {
          float: $direction !important;
        }
      }
    }
    @else {
      @media screen and (max-width: $screen-max) {
        .float-#{$name}-#{$direction} {
          float: $direction !important;
        }
      }
    }
  }
}

// Clearfix
// --------
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
