// Colors
// ------
$state-primary:         #4b77be !default;
$state-secondary:       #16a085 !default;
$state-error:           #cf3a24 !default;
$state-warning:         #eb9532 !default;
$state-success:         #7a942e !default;
$state-info:            #59abe3 !default;

$state-primary-bg:      desaturate(lighten($state-primary, 45%), 5%) !default;
$state-primary-text:    darken($state-primary, 7.5%) !default;
$state-primary-border:  desaturate(lighten($state-primary, 22.5%), 5%) !default;

$state-secondary-bg:    desaturate(lighten($state-secondary, 60%), 20%) !default;
$state-secondary-text:  darken($state-secondary, 7.5%) !default;
$state-secondary-border:desaturate(lighten($state-secondary, 30%), 40%) !default;

$state-error-bg:        desaturate(lighten($state-error, 50%), 10%) !default;
$state-error-text:      darken($state-error, 10%) !default;
$state-error-border:    desaturate(lighten($state-error, 27.5%), 30%) !default;

$state-warning-bg:      desaturate(lighten($state-warning, 40%), 15%) !default;
$state-warning-text:    darken($state-warning, 20%) !default;
$state-warning-border:  desaturate(lighten($state-warning, 15%), 30%) !default;

$state-success-bg:      desaturate(lighten($state-success, 55%), 15%) !default;
$state-success-text:    darken($state-success, 5%) !default;
$state-success-border:  desaturate(lighten($state-success, 30%), 25%) !default;

$state-info-bg:         desaturate(lighten($state-info, 35%), 5%) !default;
$state-info-text:       darken($state-info, 20%) !default;
$state-info-border:     desaturate(lighten($state-info, 15%), 35%) !default;

// Grays
$gray-darkest:          lighten(#000, 10%) !default;
$gray-darker:           lighten(#000, 13.5%) !default;
$gray-dark:             lighten(#000, 20%) !default;
$gray-base:             lighten(#000, 33.5%) !default;
$gray-light:            lighten(#000, 52.5%) !default;
$gray-lighter:          lighten(#000, 93.5%) !default;
$gray-lightest:         lighten(#000, 97.5%) !default;

// Borders
$border-base:           #ececec !default;
$border-darkest:        darken($border-base, 12.5%) !default;
$border-darker:         darken($border-base, 7.5%) !default;
$border-dark:           darken($border-base, 5%) !default;
$border-light:          lighten($border-base, 1.5%) !default;
$border-lighter:        lighten($border-base, 2.5%) !default;
$border-lightest:       lighten($border-base, 5%) !default;

$border-radius-lg:      6px !default;
$border-radius-md:      4px !default;
$border-radius-sm:      2px !default;

$border-radius-base:    $border-radius-md !default;

// Backgrounds
$bg-base:               #f6f6f6 !default;
$bg-light:              #fbfbfb !default;

$bg-highlight:          #fbf7da !default;

// Text
$text-link:             $state-primary !default;
$text-link-hover:       darken($text-link, 5%) !default;

$text-darkest:          $gray-darkest !default;
$text-darker:           $gray-darker !default;
$text-dark:             $gray-dark !default;
$text-light:            $gray-light !default;
$text-lighter:          $gray-lighter !default;
$text-lightest:         $gray-lightest !default;

$text-base:             $gray-dark !default;
$text-muted:            $text-light !default;


// Shadows
// -------
$box-shadow-light:      0 1px 3px rgba(0, 0, 0, 0.05) !default;
$box-shadow-base:       0 1px 3px rgba(0, 0, 0, 0.1) !default;
$box-shadow-dark:       0 1px 3px rgba(0, 0, 0, 0.15) !default;


// TYPOGRAPHY
// ----------
$font-size-base:            14px !default;

$font-size-xl:              125% !default; // ceil($font-size-base * 1.25) !default;
$font-size-lg:              8 / 7 * 100% !default; // ceil($font-size-base * 8 / 7) !default;
$font-size-md:              $font-size-base !default;
$font-size-sm:              90% !default;
$font-size-xs:              80% !default;

$font-size-h1:              36px !default;
$font-size-h2:              30px !default;
$font-size-h3:              24px !default;
$font-size-h4:              18px !default;
$font-size-h5:              14px !default;
$font-size-h6:              12px !default;

// Font Families
$font-family-sans-serif:    "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-serif:         Georgia, serif !default;
$font-family-monospace:     Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-family-base:          $font-family-sans-serif !default;
$font-family-headings:      $font-family-sans-serif !default;

// Line Height
$line-height-computed:      20px !default;
$line-height-base:          stripUnit($line-height-computed / $font-size-base) !default;
$line-height-headings:      1.4 !default;

// Font Weights
$font-weight-headings:      700 !default;

// Blockquotes
$blockquote-border:         $border-base !default;
$blockquote-border-size:    4px !default;
$blockquote-bg:             transparent !default;

// Code
$code-cushion-y:            2px !default;
$code-cushion-x:            4px !default;

$code-font-size:            $font-size-sm !default;

$code-bg:                   $bg-base !default;
$code-text:                 $text-base !default;

// Pre
$pre-bg:                    $code-bg !default;
$pre-border:                $border-base !default;
$pre-text:                  $code-text !default;

// Keyboard Input
$kbd-cushion-y:             $code-cushion-y !default;
$kbd-cushion-x:             8px !default;

$kbd-bg:                    $text-darkest !default;
$kbd-text:                  $text-lightest !default;


// Spacing
// -------
$cushion-base:          20px !default;

$cushion-xl:            16px !default;
$cushion-lg:            12px !default;
$cushion-md:            10px !default;
$cushion-sm:            8px !default;
$cushion-xs:            5px !default;

$cushion-y-2xl:         $cushion-base !default;
$cushion-x-2xl:         $cushion-base + $cushion-md !default;

$cushion-y-xl:          $cushion-xl !default;
$cushion-x-xl:          $cushion-base + $cushion-xs !default;

$cushion-y-lg:          $cushion-lg !default;
$cushion-x-lg:          $cushion-base !default;

$cushion-y-md:          $cushion-md !default;  // base
$cushion-x-md:          $cushion-lg !default; // base

$cushion-y-sm:          $cushion-sm !default;
$cushion-x-sm:          $cushion-md !default;

$cushion-y-xs:          $cushion-xs !default;
$cushion-x-xs:          $cushion-sm !default;


// Sizes
// -----
// Thumbnails
$thumb-3xs:             32px !default;
$thumb-2xs:             40px !default;
$thumb-xs:              60px !default;
$thumb-sm:              100px !default;
$thumb-md:              130px !default;
$thumb-lg:              200px !default;
$thumb-xl:              250px !default;
$thumb-2xl:             300px !default;

$thumb-base:            $thumb-sm !default;


// Media Object
// ------------
$media-margin-top:              $cushion-y-md !default;
$media-heading-margin-bottom:   $cushion-y-md !default;


// Breakpoints
// -----------
$screen-max-min:        1920px !default;

$screen-3xl-min:        1680px !default;
$screen-3xl-max:        ($screen-max-min - 1) !default;

$screen-2xl-min:        1368px !default;
$screen-2xl-max:        ($screen-3xl-min - 1) !default;

$screen-xl-min:         1200px !default;
$screen-xl-max:         ($screen-2xl-min - 1) !default;

$screen-lg-min:         992px !default;
$screen-lg-max:         ($screen-xl-min - 1) !default;

$screen-md-min:         768px !default;
$screen-md-max:         ($screen-lg-min - 1) !default;

$screen-sm-min:         480px !default;
$screen-sm-max:         ($screen-md-min - 1) !default;

$screen-xs-max:         ($screen-sm-min - 1) !default;

$screen-min-map:        (
                          "sm": $screen-sm-min,
                          "md": $screen-md-min,
                          "lg": $screen-lg-min,
                          "xl": $screen-xl-min,
                          "2xl": $screen-2xl-min,
                          "3xl": $screen-3xl-min,
                          "max": $screen-max-min
                        ) !default;

$screen-max-map:        (
                          "xs": $screen-xs-max,
                          "sm": $screen-sm-max,
                          "md": $screen-md-max,
                          "lg": $screen-lg-max,
                          "xl": $screen-xl-max,
                          "2xl": $screen-2xl-max,
                          "3xl": $screen-3xl-max
                        ) !default;


// Z-Index
// -------
$z-index-3xl:           1400 !default;
$z-index-2xl:           1300 !default;
$z-index-xl:            1200 !default;
$z-index-lg:            1100 !default;
$z-index-md:            1000 !default;
$z-index-sm:            900 !default;
$z-index-xs:            800 !default;
$z-index-2xs:           700 !default;
$z-index-3xs:           600 !default;


// Durations
// ---------
$animate-fastest:       0.1s !default;
$animate-faster:        0.2s !default;
$animate-fast:          0.4s !default;
$animate-base:          0.5s !default;
$animate-slow:          0.6s !default;
$animate-slower:        0.8s !default;
$animate-slowest:       1s !default;
