*, *:before, *:after {
  box-sizing: border-box; }

input[type="search"] {
  box-sizing: border-box;
  -webkit-appearance: none; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple], select[size] {
  height: auto; }

.form-group {
  margin-bottom: 16px;
  position: relative; }

.form-label {
  display: block;
  font-weight: bold;
  max-width: 100%; }

.form-label + .form-control, .form-label > .form-control, .form-label > .form-control-placeholder, .form-label > .form-control-group {
  margin-top: 5px; }

.form-control {
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #333333;
  display: block;
  font-size: 1em;
  font-weight: normal;
  height: 34px;
  line-height: strip-unit(1.42857);
  padding: 5px 12px;
  width: 100%; }
  .form-control:focus, .lt-form-control-focused {
    background: #fff;
    border-color: #59abe3;
    box-shadow: 0 0 6px rgba(89, 171, 227, 0.4);
    outline: 0 none; }
  .form-control.disabled, .form-control[disabled], .form-control[readonly] {
    background-color: #fbfbfb;
    border-color: #d9d9d9;
    color: #333333;
    cursor: not-allowed; }

.form-control-lg, .form-group-lg .form-control, .form-group-lg .form-control-addon {
  font-size: 1.2em;
  height: 42px; }

.form-control-sm, .form-group-sm .form-control, .form-group-sm .form-control-addon {
  font-size: 0.85em;
  height: 28px; }

textarea.form-control {
  height: auto; }

.form-control-placeholder {
  color: #333333;
  display: block;
  font-size: 1em;
  font-weight: normal;
  height: 34px;
  line-height: 34px;
  padding: 5px 0; }

.form-checkbox, .form-radio, .form-checkbox-inline, .form-radio-inline {
  display: block;
  padding-left: 20px;
  position: relative;
  margin: 5px 0; }

.form-checkbox > input[type="checkbox"], .form-checkbox-inline > input[type="checkbox"], .form-radio > input[type="radio"], .form-radio-inline > input[type="radio"] {
  line-height: normal;
  margin-top: 3px;
  margin-left: -20px;
  position: absolute; }

.form-checkbox-inline, .form-radio-inline {
  display: inline-block;
  margin-right: 8px; }

.form-help {
  color: #868686;
  margin: 5px 0; }

.form-control-group {
  border-collapse: seprate;
  display: table;
  position: relative; }
  .form-control-group .form-control:first-child, .form-control-group .form-control-addon:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .form-control-group .form-control:not(:first-child):not(:last-child), .form-control-group .form-control-addon:not(:first-child):not(:last-child) {
    border-radius: 0; }
  .form-control-group .form-control:last-child, .form-control-group .form-control-addon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .form-control-group .form-control-addon:first-child {
    border-right: 0; }
  .form-control-group .form-control-addon:last-child {
    border-left: 0; }

.form-control-addon {
  background-color: #fbfbfb;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #333333;
  display: table-cell;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  padding: 5px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%; }

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 8px; }
.form-inline .form-label {
  display: inline-block;
  margin-bottom: 0; }
.form-inline .form-control {
  margin-left: 8px; }
.form-inline .visible-sr + .form-control, .form-inline .form-control-group > .form-control {
  margin-left: 0; }
.form-inline .form-control, .form-inline .form-control-placeholder {
  display: inline-block;
  margin-top: 0;
  width: auto; }
.form-inline .form-help {
  display: inline-block;
  margin-left: 8px; }
.form-inline .form-error {
  margin-left: 8px; }
  .form-inline .form-error:before {
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #a42e1c;
    bottom: auto;
    content: '';
    display: block;
    margin-top: -4px;
    right: 100%;
    position: absolute;
    top: 50%;
    z-index: 800; }
.form-inline .form-checkbox, .form-inline .form-radio, .form-inline .form-checkbox-inline, .form-inline .form-radio-inline {
  display: inline-block;
  margin: 0 0 0 8px; }

.form-error {
  background: #a42e1c;
  border-radius: 4px;
  color: #fff;
  display: none;
  font-size: 90%;
  margin: 9px 0;
  padding: 5px 12px;
  position: relative;
  white-space: nowrap; }
  .form-error:before {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #a42e1c;
    bottom: 100%;
    content: '';
    display: block;
    position: absolute;
    z-index: 800; }

.form-group-error {
  color: #a42e1c; }
  .form-group-error .form-control {
    background-color: #fdf6f5;
    border-color: #d9ada6; }
    .form-group-error .form-control:focus, .form-group-error .lt-form-control-focused {
      box-shadow: 0 0 6px rgba(217, 173, 166, 0.5); }
  .form-group-error .form-error {
    display: inline-block; }

.form-group-warning {
  color: #a76110; }
  .form-group-warning .form-control {
    background-color: #fcf5ed;
    border-color: #dcb78e; }
    .form-group-warning .form-control:focus, .form-group-warning .lt-form-control-focused {
      box-shadow: 0 0 6px rgba(220, 183, 142, 0.5); }

.form-group-success {
  color: #6a8128; }
  .form-group-success .form-control {
    background-color: #f1f4e7;
    border-color: #b9c497; }
    .form-group-success .form-control:focus, .form-group-success .lt-form-control-focused {
      box-shadow: 0 0 6px rgba(185, 196, 151, 0.5); }

.form-group-error .form-help, .form-group-warning .form-help, .form-group-success .form-help {
  color: inherit; }

.list, .list-stacked, .list-striped, .list-inline {
  list-style: none;
  padding-left: 0; }
  .list > li, .list-stacked > li, .list-striped > li, .list-inline > li {
    padding-top: 10px;
    padding-bottom: 10px; }

.list-y-xl > li {
  padding-top: 16px;
  padding-bottom: 16px; }

.list-y-lg > li {
  padding-top: 12px;
  padding-bottom: 12px; }

.list-y-md > li {
  padding-top: 10px;
  padding-bottom: 10px; }

.list-y-sm > li {
  padding-top: 8px;
  padding-bottom: 8px; }

.list-y-xs > li {
  padding-top: 5px;
  padding-bottom: 5px; }

.list-y-hard > li {
  padding-top: 0;
  padding-bottom: 0; }

.list-x-xl > li {
  padding-left: 25px;
  padding-right: 25px; }

.list-x-lg > li {
  padding-left: 20px;
  padding-right: 20px; }

.list-x-md > li {
  padding-left: 12px;
  padding-right: 12px; }

.list-x-sm > li {
  padding-left: 10px;
  padding-right: 10px; }

.list-x-xs > li {
  padding-left: 8px;
  padding-right: 8px; }

.list-x-hard > li {
  padding-left: 0;
  padding-right: 0; }

.list-stacked {
  border-bottom: 1px solid #ececec; }
  .list-stacked > li {
    border-top: 1px solid #ececec; }

.list-striped > li {
  padding-left: 12px;
  padding-right: 12px; }
.list-striped > li:nth-child(even) {
  background-color: #f6f6f6; }

.list-inline > li {
  display: inline-block;
  margin-right: 12px; }

.list-reset {
  list-style: none;
  padding-left: 0; }

dl {
  margin-top: 10px;
  margin-bottom: 10px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }
  dd + dt {
    margin-top: 10px; }

.dl-split > dt, .dl-split > dd {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 10px;
  width: 50%; }
.dl-split > dt {
  clear: left;
  float: left;
  position: relative;
  text-transform: capitalize; }
.dl-split > dd {
  clear: right;
  float: right; }
  .dl-split > dd + dd {
    padding-top: 0; }
.dl-split > dd + dt {
  clear: both; }
.dl-split > dd + dt::before {
  border-top: 1px solid #ececec;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 200%; }

.media {
  margin-top: 10px; }
  .media:first-child {
    margin-top: 0; }

.media, .media-body {
  zoom: 1;
  overflow: hidden; }

.media-body {
  width: 10000px; }

.media-object {
  display: block; }

.media-right, .media > .float-right {
  padding-left: 10px; }

.media-left, .media > .float-left {
  padding-right: 10px; }

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top; }

.media-middle {
  vertical-align: middle; }

.media-bottom {
  vertical-align: bottom; }

.media-heading {
  margin-top: 0;
  margin-bottom: 10px; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html {
  font-size: 14px; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: strip-unit(1.42857); }

.text-primary {
  color: #395f9d; }

.text-secondary {
  color: #107360; }

.text-error {
  color: #a42e1c; }

.text-warning {
  color: #a76110; }

.text-success {
  color: #6a8128; }

.text-info {
  color: #1f79b7; }

.text-darkest {
  color: #1a1a1a; }

.text-darker {
  color: #222222; }

.text-dark {
  color: #333333; }

.text-light {
  color: #868686; }

.text-lighter {
  color: #eeeeee; }

.text-lightest {
  color: #f9f9f9; }

.text-muted {
  color: #868686; }

.text-xl {
  font-size: 125%; }

.text-lg {
  font-size: 114.2857142857%; }

.text-md {
  font-size: 14px; }

.text-sm {
  font-size: 90%; }

.text-xs {
  font-size: 80%; }

h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
  font-weight: 700;
  line-height: 1.4; }

.text-h1 {
  font-size: 36px; }

.text-h2 {
  font-size: 30px; }

.text-h3 {
  font-size: 24px; }

.text-h4 {
  font-size: 18px; }

.text-h5 {
  font-size: 14px; }

.text-h6 {
  font-size: 12px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-italic {
  font-style: italic; }

.text-bold {
  font-weight: bold; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-titlecase {
  text-transform: capitalize; }

.text-capitalize:first-letter {
  text-transform: capitalize;
  display: block; }

.text-capitalize-inline-block:first-letter {
  text-transform: capitalize;
  display: inline-block; }

.text-abbr {
  font-size: 90%;
  text-transform: uppercase; }

.text-base {
  color: #333333;
  font-size: 14px;
  font-size: 1rem; }

p {
  margin: 10px 0; }

mark {
  background-color: #fbf7da;
  padding: 0.2em 0.3em; }

blockquote {
  background: transparent;
  border-left: 4px solid #ececec;
  font-size: 114.2857142857%;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 20px; }
  blockquote > footer {
    color: #868686;
    font-size: 14px;
    margin: 10px 0; }
    blockquote > footer:before {
      content: '— '; }

.blockquote-right {
  border-left: 0;
  border-right: 4px solid #ececec;
  text-align: right; }

.blockquote-center {
  border: 0;
  text-align: center; }
  .blockquote-center > footer:before {
    content: none; }

code, kbd, pre, samp {
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

code {
  background-color: #f6f6f6;
  color: #333333;
  font-size: 90%;
  padding: 2px 4px; }

kbd {
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-size: 90%;
  padding: 2px 4px; }
  kbd > kbd {
    font-size: 100%;
    font-weight: bold;
    padding: 0; }

pre {
  background-color: #f6f6f6;
  border: 1px solid #ececec;
  color: #333333;
  display: block;
  font-size: 13px;
  line-height: strip-unit(1.42857);
  margin: 0 0 10px;
  padding: 10px 12px;
  word-break: break-all;
  word-wrap: break-word; }
  pre code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap; }

.pad {
  padding: 20px 20px; }

.pad-y {
  padding-top: 20px;
  padding-bottom: 20px; }

.pad-x {
  padding-left: 20px;
  padding-right: 20px; }

.pad-top {
  padding-top: 20px; }

.pad-right {
  padding-right: 20px; }

.pad-bottom {
  padding-bottom: 20px; }

.pad-left {
  padding-left: 20px; }

.pad-xl {
  padding: 16px 25px; }

.pad-y-xl {
  padding-top: 16px;
  padding-bottom: 16px; }

.pad-x-xl {
  padding-left: 25px;
  padding-right: 25px; }

.pad-top-xl {
  padding-top: 16px; }

.pad-right-xl {
  padding-right: 25px; }

.pad-bottom-xl {
  padding-bottom: 16px; }

.pad-left-xl {
  padding-left: 25px; }

.pad-lg {
  padding: 12px 20px; }

.pad-y-lg {
  padding-top: 12px;
  padding-bottom: 12px; }

.pad-x-lg {
  padding-left: 20px;
  padding-right: 20px; }

.pad-top-lg {
  padding-top: 12px; }

.pad-right-lg {
  padding-right: 20px; }

.pad-bottom-lg {
  padding-bottom: 12px; }

.pad-left-lg {
  padding-left: 20px; }

.pad-md {
  padding: 10px 12px; }

.pad-y-md {
  padding-top: 10px;
  padding-bottom: 10px; }

.pad-x-md {
  padding-left: 12px;
  padding-right: 12px; }

.pad-top-md {
  padding-top: 10px; }

.pad-right-md {
  padding-right: 12px; }

.pad-bottom-md {
  padding-bottom: 10px; }

.pad-left-md {
  padding-left: 12px; }

.pad-sm {
  padding: 8px 10px; }

.pad-y-sm {
  padding-top: 8px;
  padding-bottom: 8px; }

.pad-x-sm {
  padding-left: 10px;
  padding-right: 10px; }

.pad-top-sm {
  padding-top: 8px; }

.pad-right-sm {
  padding-right: 10px; }

.pad-bottom-sm {
  padding-bottom: 8px; }

.pad-left-sm {
  padding-left: 10px; }

.pad-xs {
  padding: 5px 8px; }

.pad-y-xs {
  padding-top: 5px;
  padding-bottom: 5px; }

.pad-x-xs {
  padding-left: 8px;
  padding-right: 8px; }

.pad-top-xs {
  padding-top: 5px; }

.pad-right-xs {
  padding-right: 8px; }

.pad-bottom-xs {
  padding-bottom: 5px; }

.pad-left-xs {
  padding-left: 8px; }

.hard {
  padding: 0 0; }

.hard-y {
  padding-top: 0;
  padding-bottom: 0; }

.hard-x {
  padding-left: 0;
  padding-right: 0; }

.hard-top {
  padding-top: 0; }

.hard-right {
  padding-right: 0; }

.hard-bottom {
  padding-bottom: 0; }

.hard-left {
  padding-left: 0; }

.push {
  margin: 20px 20px; }

.push-y {
  margin-top: 20px;
  margin-bottom: 20px; }

.push-x {
  margin-left: 20px;
  margin-right: 20px; }

.push-top {
  margin-top: 20px; }

.push-right {
  margin-right: 20px; }

.push-bottom {
  margin-bottom: 20px; }

.push-left {
  margin-left: 20px; }

.push-xl {
  margin: 16px 25px; }

.push-y-xl {
  margin-top: 16px;
  margin-bottom: 16px; }

.push-x-xl {
  margin-left: 25px;
  margin-right: 25px; }

.push-top-xl {
  margin-top: 16px; }

.push-right-xl {
  margin-right: 25px; }

.push-bottom-xl {
  margin-bottom: 16px; }

.push-left-xl {
  margin-left: 25px; }

.push-lg {
  margin: 12px 20px; }

.push-y-lg {
  margin-top: 12px;
  margin-bottom: 12px; }

.push-x-lg {
  margin-left: 20px;
  margin-right: 20px; }

.push-top-lg {
  margin-top: 12px; }

.push-right-lg {
  margin-right: 20px; }

.push-bottom-lg {
  margin-bottom: 12px; }

.push-left-lg {
  margin-left: 20px; }

.push-md {
  margin: 10px 12px; }

.push-y-md {
  margin-top: 10px;
  margin-bottom: 10px; }

.push-x-md {
  margin-left: 12px;
  margin-right: 12px; }

.push-top-md {
  margin-top: 10px; }

.push-right-md {
  margin-right: 12px; }

.push-bottom-md {
  margin-bottom: 10px; }

.push-left-md {
  margin-left: 12px; }

.push-sm {
  margin: 8px 10px; }

.push-y-sm {
  margin-top: 8px;
  margin-bottom: 8px; }

.push-x-sm {
  margin-left: 10px;
  margin-right: 10px; }

.push-top-sm {
  margin-top: 8px; }

.push-right-sm {
  margin-right: 10px; }

.push-bottom-sm {
  margin-bottom: 8px; }

.push-left-sm {
  margin-left: 10px; }

.push-xs {
  margin: 5px 8px; }

.push-y-xs {
  margin-top: 5px;
  margin-bottom: 5px; }

.push-x-xs {
  margin-left: 8px;
  margin-right: 8px; }

.push-top-xs {
  margin-top: 5px; }

.push-right-xs {
  margin-right: 8px; }

.push-bottom-xs {
  margin-bottom: 5px; }

.push-left-xs {
  margin-left: 8px; }

.flush {
  margin: 0 0; }

.flush-y {
  margin-top: 0;
  margin-bottom: 0; }

.flush-x {
  margin-left: 0;
  margin-right: 0; }

.flush-top {
  margin-top: 0; }

.flush-right {
  margin-right: 0; }

.flush-bottom {
  margin-bottom: 0; }

.flush-left {
  margin-left: 0; }

.border-darkest {
  border: 1px solid #cccccc; }

.border-color-darkest {
  border-color: #cccccc; }

.border-y-darkest {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }

.border-x-darkest {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }

.border-top-darkest {
  border-top: 1px solid #cccccc; }

.border-right-darkest {
  border-right: 1px solid #cccccc; }

.border-bottom-darkest {
  border-bottom: 1px solid #cccccc; }

.border-left-darkest {
  border-left: 1px solid #cccccc; }

.border-darker {
  border: 1px solid #d9d9d9; }

.border-color-darker {
  border-color: #d9d9d9; }

.border-y-darker {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }

.border-x-darker {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9; }

.border-top-darker {
  border-top: 1px solid #d9d9d9; }

.border-right-darker {
  border-right: 1px solid #d9d9d9; }

.border-bottom-darker {
  border-bottom: 1px solid #d9d9d9; }

.border-left-darker {
  border-left: 1px solid #d9d9d9; }

.border-dark {
  border: 1px solid #dfdfdf; }

.border-color-dark {
  border-color: #dfdfdf; }

.border-y-dark {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf; }

.border-x-dark {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf; }

.border-top-dark {
  border-top: 1px solid #dfdfdf; }

.border-right-dark {
  border-right: 1px solid #dfdfdf; }

.border-bottom-dark {
  border-bottom: 1px solid #dfdfdf; }

.border-left-dark {
  border-left: 1px solid #dfdfdf; }

.border {
  border: 1px solid #ececec; }

.border-color {
  border-color: #ececec; }

.border-y {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }

.border-x {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec; }

.border-top {
  border-top: 1px solid #ececec; }

.border-right {
  border-right: 1px solid #ececec; }

.border-bottom {
  border-bottom: 1px solid #ececec; }

.border-left {
  border-left: 1px solid #ececec; }

.border-light {
  border: 1px solid #f0f0f0; }

.border-color-light {
  border-color: #f0f0f0; }

.border-y-light {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0; }

.border-x-light {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0; }

.border-top-light {
  border-top: 1px solid #f0f0f0; }

.border-right-light {
  border-right: 1px solid #f0f0f0; }

.border-bottom-light {
  border-bottom: 1px solid #f0f0f0; }

.border-left-light {
  border-left: 1px solid #f0f0f0; }

.border-lighter {
  border: 1px solid #f2f2f2; }

.border-color-lighter {
  border-color: #f2f2f2; }

.border-y-lighter {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2; }

.border-x-lighter {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2; }

.border-top-lighter {
  border-top: 1px solid #f2f2f2; }

.border-right-lighter {
  border-right: 1px solid #f2f2f2; }

.border-bottom-lighter {
  border-bottom: 1px solid #f2f2f2; }

.border-left-lighter {
  border-left: 1px solid #f2f2f2; }

.border-lightest {
  border: 1px solid #f9f9f9; }

.border-color-lightest {
  border-color: #f9f9f9; }

.border-y-lightest {
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9; }

.border-x-lightest {
  border-left: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9; }

.border-top-lightest {
  border-top: 1px solid #f9f9f9; }

.border-right-lightest {
  border-right: 1px solid #f9f9f9; }

.border-bottom-lightest {
  border-bottom: 1px solid #f9f9f9; }

.border-left-lightest {
  border-left: 1px solid #f9f9f9; }

.border-primary {
  border: 1px solid #a3b7d9; }

.border-color-primary {
  border-color: #a3b7d9; }

.border-y-primary {
  border-top: 1px solid #a3b7d9;
  border-bottom: 1px solid #a3b7d9; }

.border-x-primary {
  border-left: 1px solid #a3b7d9;
  border-right: 1px solid #a3b7d9; }

.border-top-primary {
  border-top: 1px solid #a3b7d9; }

.border-right-primary {
  border-right: 1px solid #a3b7d9; }

.border-bottom-primary {
  border-bottom: 1px solid #a3b7d9; }

.border-left-primary {
  border-left: 1px solid #a3b7d9; }

.border-secondary {
  border: 1px solid #88c7bb; }

.border-color-secondary {
  border-color: #88c7bb; }

.border-y-secondary {
  border-top: 1px solid #88c7bb;
  border-bottom: 1px solid #88c7bb; }

.border-x-secondary {
  border-left: 1px solid #88c7bb;
  border-right: 1px solid #88c7bb; }

.border-top-secondary {
  border-top: 1px solid #88c7bb; }

.border-right-secondary {
  border-right: 1px solid #88c7bb; }

.border-bottom-secondary {
  border-bottom: 1px solid #88c7bb; }

.border-left-secondary {
  border-left: 1px solid #88c7bb; }

.border-error {
  border: 1px solid #d9ada6; }

.border-color-error {
  border-color: #d9ada6; }

.border-y-error {
  border-top: 1px solid #d9ada6;
  border-bottom: 1px solid #d9ada6; }

.border-x-error {
  border-left: 1px solid #d9ada6;
  border-right: 1px solid #d9ada6; }

.border-top-error {
  border-top: 1px solid #d9ada6; }

.border-right-error {
  border-right: 1px solid #d9ada6; }

.border-bottom-error {
  border-bottom: 1px solid #d9ada6; }

.border-left-error {
  border-left: 1px solid #d9ada6; }

.border-warning {
  border: 1px solid #dcb78e; }

.border-color-warning {
  border-color: #dcb78e; }

.border-y-warning {
  border-top: 1px solid #dcb78e;
  border-bottom: 1px solid #dcb78e; }

.border-x-warning {
  border-left: 1px solid #dcb78e;
  border-right: 1px solid #dcb78e; }

.border-top-warning {
  border-top: 1px solid #dcb78e; }

.border-right-warning {
  border-right: 1px solid #dcb78e; }

.border-bottom-warning {
  border-bottom: 1px solid #dcb78e; }

.border-left-warning {
  border-left: 1px solid #dcb78e; }

.border-success {
  border: 1px solid #b9c497; }

.border-color-success {
  border-color: #b9c497; }

.border-y-success {
  border-top: 1px solid #b9c497;
  border-bottom: 1px solid #b9c497; }

.border-x-success {
  border-left: 1px solid #b9c497;
  border-right: 1px solid #b9c497; }

.border-top-success {
  border-top: 1px solid #b9c497; }

.border-right-success {
  border-right: 1px solid #b9c497; }

.border-bottom-success {
  border-bottom: 1px solid #b9c497; }

.border-left-success {
  border-left: 1px solid #b9c497; }

.border-info {
  border: 1px solid #afc8d9; }

.border-color-info {
  border-color: #afc8d9; }

.border-y-info {
  border-top: 1px solid #afc8d9;
  border-bottom: 1px solid #afc8d9; }

.border-x-info {
  border-left: 1px solid #afc8d9;
  border-right: 1px solid #afc8d9; }

.border-top-info {
  border-top: 1px solid #afc8d9; }

.border-right-info {
  border-right: 1px solid #afc8d9; }

.border-bottom-info {
  border-bottom: 1px solid #afc8d9; }

.border-left-info {
  border-left: 1px solid #afc8d9; }

.bg-base {
  background-color: #f6f6f6; }

.bg-light {
  background-color: #fbfbfb; }

.bg-primary {
  background-color: #f4f6fb; }

.bg-secondary {
  background-color: #eefaf8; }

.bg-error {
  background-color: #fdf6f5; }

.bg-warning {
  background-color: #fcf5ed; }

.bg-success {
  background-color: #f1f4e7; }

.bg-info {
  background-color: #f2f8fc; }

.shadow-light {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); }

.shadow-base {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.shadow-dark {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }

.cf:before, .dl-split:before, .cf:after, .dl-split:after {
  content: " ";
  display: table; }
.cf:after, .dl-split:after {
  clear: both; }

.invisible {
  visibility: hidden; }

.visible-block {
  display: block !important; }

.visible-inline {
  display: inline !important; }

.visible-inline-block {
  display: inline-block !important; }

.visible-sr {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visible-sr-focusable:active, .visible-sr-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.visible-3xl-block, .visible-3xl-min-block, .visible-3xl-min-inline, .visible-3xl-min-inline-block, .visible-3xl-max-block, .visible-3xl-max-inline, .visible-3xl-max-inline-block, .visible-3xl-inline, .visible-3xl-inline-block {
  display: none !important; }

@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .visible-3xl-block, .visible-3xl-min-block, .visible-3xl-min-inline, .visible-3xl-min-inline-block, .visible-3xl-max-block, .visible-3xl-max-inline, .visible-3xl-max-inline-block {
    display: block !important; }

  .visible-3xl-inline {
    display: inline !important; }

  .visible-3xl-inline-block {
    display: inline-block !important; }
 }

@media screen and (min-width: 1680px) {
  .visible-3xl-min-block {
    display: block !important; }

  .visible-3xl-min-inline {
    display: inline !important; }

  .visible-3xl-min-inline-block {
    display: inline-block !important; }
 }

@media screen and (max-width: 1919px) {
  .visible-3xl-max-block {
    display: block !important; }

  .visible-3xl-max-inline {
    display: inline !important; }

  .visible-3xl-max-inline-block {
    display: inline-block !important; }
 }

.visible-2xl-block, .visible-2xl-min-block, .visible-2xl-min-inline, .visible-2xl-min-inline-block, .visible-2xl-max-block, .visible-2xl-max-inline, .visible-2xl-max-inline-block, .visible-2xl-inline, .visible-2xl-inline-block {
  display: none !important; }

@media screen and (min-width: 1368px) and (max-width: 1679px) {
  .visible-2xl-block, .visible-2xl-min-block, .visible-2xl-min-inline, .visible-2xl-min-inline-block, .visible-2xl-max-block, .visible-2xl-max-inline, .visible-2xl-max-inline-block {
    display: block !important; }

  .visible-2xl-inline {
    display: inline !important; }

  .visible-2xl-inline-block {
    display: inline-block !important; }
 }

@media screen and (min-width: 1368px) {
  .visible-2xl-min-block {
    display: block !important; }

  .visible-2xl-min-inline {
    display: inline !important; }

  .visible-2xl-min-inline-block {
    display: inline-block !important; }
 }

@media screen and (max-width: 1679px) {
  .visible-2xl-max-block {
    display: block !important; }

  .visible-2xl-max-inline {
    display: inline !important; }

  .visible-2xl-max-inline-block {
    display: inline-block !important; }
 }

.visible-xl-block, .visible-xl-min-block, .visible-xl-min-inline, .visible-xl-min-inline-block, .visible-xl-max-block, .visible-xl-max-inline, .visible-xl-max-inline-block, .visible-xl-inline, .visible-xl-inline-block {
  display: none !important; }

@media screen and (min-width: 1200px) and (max-width: 1367px) {
  .visible-xl-block, .visible-xl-min-block, .visible-xl-min-inline, .visible-xl-min-inline-block, .visible-xl-max-block, .visible-xl-max-inline, .visible-xl-max-inline-block {
    display: block !important; }

  .visible-xl-inline {
    display: inline !important; }

  .visible-xl-inline-block {
    display: inline-block !important; }
 }

@media screen and (min-width: 1200px) {
  .visible-xl-min-block {
    display: block !important; }

  .visible-xl-min-inline {
    display: inline !important; }

  .visible-xl-min-inline-block {
    display: inline-block !important; }
 }

@media screen and (max-width: 1367px) {
  .visible-xl-max-block {
    display: block !important; }

  .visible-xl-max-inline {
    display: inline !important; }

  .visible-xl-max-inline-block {
    display: inline-block !important; }
 }

.visible-lg-block, .visible-lg-min-block, .visible-lg-min-inline, .visible-lg-min-inline-block, .visible-lg-max-block, .visible-lg-max-inline, .visible-lg-max-inline-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .visible-lg-block, .visible-lg-min-block, .visible-lg-min-inline, .visible-lg-min-inline-block, .visible-lg-max-block, .visible-lg-max-inline, .visible-lg-max-inline-block {
    display: block !important; }

  .visible-lg-inline {
    display: inline !important; }

  .visible-lg-inline-block {
    display: inline-block !important; }
 }

@media screen and (min-width: 992px) {
  .visible-lg-min-block {
    display: block !important; }

  .visible-lg-min-inline {
    display: inline !important; }

  .visible-lg-min-inline-block {
    display: inline-block !important; }
 }

@media screen and (max-width: 1199px) {
  .visible-lg-max-block {
    display: block !important; }

  .visible-lg-max-inline {
    display: inline !important; }

  .visible-lg-max-inline-block {
    display: inline-block !important; }
 }

.visible-md-block, .visible-md-min-block, .visible-md-min-inline, .visible-md-min-inline-block, .visible-md-max-block, .visible-md-max-inline, .visible-md-max-inline-block, .visible-md-inline, .visible-md-inline-block {
  display: none !important; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .visible-md-block, .visible-md-min-block, .visible-md-min-inline, .visible-md-min-inline-block, .visible-md-max-block, .visible-md-max-inline, .visible-md-max-inline-block {
    display: block !important; }

  .visible-md-inline {
    display: inline !important; }

  .visible-md-inline-block {
    display: inline-block !important; }
 }

@media screen and (min-width: 768px) {
  .visible-md-min-block {
    display: block !important; }

  .visible-md-min-inline {
    display: inline !important; }

  .visible-md-min-inline-block {
    display: inline-block !important; }
 }

@media screen and (max-width: 991px) {
  .visible-md-max-block {
    display: block !important; }

  .visible-md-max-inline {
    display: inline !important; }

  .visible-md-max-inline-block {
    display: inline-block !important; }
 }

.visible-sm-block, .visible-sm-min-block, .visible-sm-min-inline, .visible-sm-min-inline-block, .visible-sm-max-block, .visible-sm-max-inline, .visible-sm-max-inline-block, .visible-sm-inline, .visible-sm-inline-block {
  display: none !important; }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .visible-sm-block, .visible-sm-min-block, .visible-sm-min-inline, .visible-sm-min-inline-block, .visible-sm-max-block, .visible-sm-max-inline, .visible-sm-max-inline-block {
    display: block !important; }

  .visible-sm-inline {
    display: inline !important; }

  .visible-sm-inline-block {
    display: inline-block !important; }
 }

@media screen and (min-width: 480px) {
  .visible-sm-min-block {
    display: block !important; }

  .visible-sm-min-inline {
    display: inline !important; }

  .visible-sm-min-inline-block {
    display: inline-block !important; }
 }

@media screen and (max-width: 767px) {
  .visible-sm-max-block {
    display: block !important; }

  .visible-sm-max-inline {
    display: inline !important; }

  .visible-sm-max-inline-block {
    display: inline-block !important; }
 }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block {
  display: none !important; }

@media screen and (max-width: 479px) {
  .visible-xs-block {
    display: block !important; }

  .visible-xs-inline {
    display: inline !important; }

  .visible-xs-inline-block {
    display: inline-block !important; }
 }

.hidden {
  display: none !important;
  visibility: hidden !important; }

@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .hidden-3xl {
    display: none !important; }
 }

@media screen and (min-width: 1680px) {
  .hidden-3xl-min {
    display: none !important; }
 }

@media screen and (max-width: 1919px) {
  .hidden-3xl-max {
    display: none !important; }
 }

@media screen and (min-width: 1368px) and (max-width: 1679px) {
  .hidden-2xl {
    display: none !important; }
 }

@media screen and (min-width: 1368px) {
  .hidden-2xl-min {
    display: none !important; }
 }

@media screen and (max-width: 1679px) {
  .hidden-2xl-max {
    display: none !important; }
 }

@media screen and (min-width: 1200px) and (max-width: 1367px) {
  .hidden-xl {
    display: none !important; }
 }

@media screen and (min-width: 1200px) {
  .hidden-xl-min {
    display: none !important; }
 }

@media screen and (max-width: 1367px) {
  .hidden-xl-max {
    display: none !important; }
 }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg {
    display: none !important; }
 }

@media screen and (min-width: 992px) {
  .hidden-lg-min {
    display: none !important; }
 }

@media screen and (max-width: 1199px) {
  .hidden-lg-max {
    display: none !important; }
 }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none !important; }
 }

@media screen and (min-width: 768px) {
  .hidden-md-min {
    display: none !important; }
 }

@media screen and (max-width: 991px) {
  .hidden-md-max {
    display: none !important; }
 }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important; }
 }

@media screen and (min-width: 480px) {
  .hidden-sm-min {
    display: none !important; }
 }

@media screen and (max-width: 767px) {
  .hidden-sm-max {
    display: none !important; }
 }

@media screen and (max-width: 479px) {
  .hidden-xs {
    display: none !important; }
 }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .float-3xl-left {
    float: left !important; }
 }

@media screen and (min-width: 1680px) {
  .float-3xl-min-left {
    float: left !important; }
 }

@media screen and (max-width: 1919px) {
  .float-3xl-max-left {
    float: left !important; }
 }

@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .float-3xl-right {
    float: right !important; }
 }

@media screen and (min-width: 1680px) {
  .float-3xl-min-right {
    float: right !important; }
 }

@media screen and (max-width: 1919px) {
  .float-3xl-max-right {
    float: right !important; }
 }

@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .float-3xl-none {
    float: none !important; }
 }

@media screen and (min-width: 1680px) {
  .float-3xl-min-none {
    float: none !important; }
 }

@media screen and (max-width: 1919px) {
  .float-3xl-max-none {
    float: none !important; }
 }

@media screen and (min-width: 1368px) and (max-width: 1679px) {
  .float-2xl-left {
    float: left !important; }
 }

@media screen and (min-width: 1368px) {
  .float-2xl-min-left {
    float: left !important; }
 }

@media screen and (max-width: 1679px) {
  .float-2xl-max-left {
    float: left !important; }
 }

@media screen and (min-width: 1368px) and (max-width: 1679px) {
  .float-2xl-right {
    float: right !important; }
 }

@media screen and (min-width: 1368px) {
  .float-2xl-min-right {
    float: right !important; }
 }

@media screen and (max-width: 1679px) {
  .float-2xl-max-right {
    float: right !important; }
 }

@media screen and (min-width: 1368px) and (max-width: 1679px) {
  .float-2xl-none {
    float: none !important; }
 }

@media screen and (min-width: 1368px) {
  .float-2xl-min-none {
    float: none !important; }
 }

@media screen and (max-width: 1679px) {
  .float-2xl-max-none {
    float: none !important; }
 }

@media screen and (min-width: 1200px) and (max-width: 1367px) {
  .float-xl-left {
    float: left !important; }
 }

@media screen and (min-width: 1200px) {
  .float-xl-min-left {
    float: left !important; }
 }

@media screen and (max-width: 1367px) {
  .float-xl-max-left {
    float: left !important; }
 }

@media screen and (min-width: 1200px) and (max-width: 1367px) {
  .float-xl-right {
    float: right !important; }
 }

@media screen and (min-width: 1200px) {
  .float-xl-min-right {
    float: right !important; }
 }

@media screen and (max-width: 1367px) {
  .float-xl-max-right {
    float: right !important; }
 }

@media screen and (min-width: 1200px) and (max-width: 1367px) {
  .float-xl-none {
    float: none !important; }
 }

@media screen and (min-width: 1200px) {
  .float-xl-min-none {
    float: none !important; }
 }

@media screen and (max-width: 1367px) {
  .float-xl-max-none {
    float: none !important; }
 }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .float-lg-left {
    float: left !important; }
 }

@media screen and (min-width: 992px) {
  .float-lg-min-left {
    float: left !important; }
 }

@media screen and (max-width: 1199px) {
  .float-lg-max-left {
    float: left !important; }
 }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .float-lg-right {
    float: right !important; }
 }

@media screen and (min-width: 992px) {
  .float-lg-min-right {
    float: right !important; }
 }

@media screen and (max-width: 1199px) {
  .float-lg-max-right {
    float: right !important; }
 }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .float-lg-none {
    float: none !important; }
 }

@media screen and (min-width: 992px) {
  .float-lg-min-none {
    float: none !important; }
 }

@media screen and (max-width: 1199px) {
  .float-lg-max-none {
    float: none !important; }
 }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .float-md-left {
    float: left !important; }
 }

@media screen and (min-width: 768px) {
  .float-md-min-left {
    float: left !important; }
 }

@media screen and (max-width: 991px) {
  .float-md-max-left {
    float: left !important; }
 }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .float-md-right {
    float: right !important; }
 }

@media screen and (min-width: 768px) {
  .float-md-min-right {
    float: right !important; }
 }

@media screen and (max-width: 991px) {
  .float-md-max-right {
    float: right !important; }
 }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .float-md-none {
    float: none !important; }
 }

@media screen and (min-width: 768px) {
  .float-md-min-none {
    float: none !important; }
 }

@media screen and (max-width: 991px) {
  .float-md-max-none {
    float: none !important; }
 }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .float-sm-left {
    float: left !important; }
 }

@media screen and (min-width: 480px) {
  .float-sm-min-left {
    float: left !important; }
 }

@media screen and (max-width: 767px) {
  .float-sm-max-left {
    float: left !important; }
 }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .float-sm-right {
    float: right !important; }
 }

@media screen and (min-width: 480px) {
  .float-sm-min-right {
    float: right !important; }
 }

@media screen and (max-width: 767px) {
  .float-sm-max-right {
    float: right !important; }
 }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .float-sm-none {
    float: none !important; }
 }

@media screen and (min-width: 480px) {
  .float-sm-min-none {
    float: none !important; }
 }

@media screen and (max-width: 767px) {
  .float-sm-max-none {
    float: none !important; }
 }

@media screen and (max-width: 479px) {
  .float-xs-left {
    float: left !important; }
 }

@media screen and (max-width: 479px) {
  .float-xs-right {
    float: right !important; }
 }

@media screen and (max-width: 479px) {
  .float-xs-none {
    float: none !important; }
 }

.clear-left {
  clear: left !important; }

.clear-right {
  clear: right !important; }

.clear {
  clear: both !important; }

.center-y, .center {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.center-x, .center {
  text-align: center; }

.highlight {
  line-height: 1.4; }

.highlight > pre {
  background: none;
  border: 0;
  margin: 0; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.lt-article {
  margin: 0 auto;
  padding: 0 20px; }
  .lt-article > h1, .lt-article > h2, .lt-article > h3, .lt-article > h4, .lt-article > h5, .lt-article > h6 {
    margin-top: 3em; }
  .lt-article header > h1 {
    border-bottom: 1px dotted #ececec;
    padding-bottom: 0.6em; }
  .lt-article header + h2 {
    margin-top: 0; }

@media screen and (min-width: 768px) {
  .lt-article {
    padding: 0;
    width: 80vw; }
 }

.lt-example:before {
  content: 'Example';
  color: #868686;
  display: block;
  font-size: 90%;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
  text-transform: uppercase; }

.lt-code {
  background: #f6f6f6;
  border: 1px solid #ececec;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: -12px;
  margin-right: -12px; }

.lt-tip {
  border-left: 3px solid #ececec;
  background-color: #fbfbfb;
  padding: 16px 20px;
  margin: 12px 0; }
  .lt-tip:before {
    display: block;
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase; }

.lt-tip-info, .lt-tip-extend {
  border-color: #1f79b7; }

.lt-tip-extend:before {
  content: 'Extend';
  color: #1f79b7; }

.lt-tip-accessibility {
  border-color: #a76110; }
  .lt-tip-accessibility::before {
    content: 'Accessibility';
    color: #a76110; }

.lt-colors {
  list-style: none;
  padding: 0; }
  .lt-colors > li {
    background-color: #fbfbfb;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    font-size: 80%;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 100px;
    position: relative;
    width: 100px;
    vertical-align: top; }

.lt-colors-primary {
  background-color: #4b77be !important;
  border-color: #4b77be !important;
  color: #fff; }

.lt-colors-secondary {
  background-color: #16a085 !important;
  border-color: #16a085 !important;
  color: #fff; }

.lt-colors-error {
  background-color: #cf3a24 !important;
  border-color: #cf3a24 !important;
  color: #fff; }

.lt-colors-warning {
  background-color: #eb9532 !important;
  border-color: #eb9532 !important;
  color: #fff; }

.lt-colors-success {
  background-color: #7a942e !important;
  border-color: #7a942e !important;
  color: #fff; }

.lt-colors-info {
  background-color: #59abe3 !important;
  border-color: #59abe3 !important;
  color: #fff; }

.lt-colors-primary-bg {
  background-color: #f4f6fb !important; }

.lt-colors-secondary-bg {
  background-color: #eefaf8 !important; }

.lt-colors-error-bg {
  background-color: #fdf6f5 !important; }

.lt-colors-warning-bg {
  background-color: #fcf5ed !important; }

.lt-colors-success-bg {
  background-color: #f1f4e7 !important; }

.lt-colors-info-bg {
  background-color: #f2f8fc !important; }

.lt-colors-primary-border {
  border-color: #a3b7d9 !important; }

.lt-colors-secondary-border {
  border-color: #88c7bb !important; }

.lt-colors-error-border {
  border-color: #d9ada6 !important; }

.lt-colors-warning-border {
  border-color: #dcb78e !important; }

.lt-colors-success-border {
  border-color: #b9c497 !important; }

.lt-colors-info-border {
  border-color: #afc8d9 !important; }

.lt-colors-primary-text {
  color: #395f9d !important; }

.lt-colors-secondary-text {
  color: #107360 !important; }

.lt-colors-error-text {
  color: #a42e1c !important; }

.lt-colors-warning-text {
  color: #a76110 !important; }

.lt-colors-success-text {
  color: #6a8128 !important; }

.lt-colors-info-text {
  color: #1f79b7 !important; }

.lt-colors-gray-darkest {
  background-color: #1a1a1a !important; }

.lt-colors-gray-darker {
  background-color: #222222 !important; }

.lt-colors-gray-dark {
  background-color: #333333 !important; }

.lt-colors-gray-base {
  background-color: #555555 !important; }

.lt-colors-gray-light {
  background-color: #868686 !important; }

.lt-colors-gray-lighter {
  background-color: #eeeeee !important; }

.lt-colors-gray-lightest {
  background-color: #f9f9f9 !important; }

.lt-colors-border-darkest {
  background-color: #cccccc !important; }

.lt-colors-border-darker {
  background-color: #d9d9d9 !important; }

.lt-colors-border-dark {
  background-color: #dfdfdf !important; }

.lt-colors-border-base {
  background-color: #ececec !important; }

.lt-colors-border-light {
  background-color: #f0f0f0 !important; }

.lt-colors-border-lighter {
  background-color: #f2f2f2 !important; }

.lt-colors-border-lightest {
  background-color: #f9f9f9 !important; }